<div class="header bg-gradient-danger py-7 py-lg-8">

  <div class="container mt--10 ">
    <!-- Table -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Crear Vendedor</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate [formGroup]="vendedorFrom" >
            <h6 class="heading-small text-muted mb-4">Vendedor information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-descripcion">nombre</label>
                    <input type="text" id="input-descripcion" name="pr" class="form-control form-control-alternative" formControlName="nombre" placeholder="nombre" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-inicial">Identificación</label>
                    <input type="number" id="input-inicial"  name="ci" class="form-control form-control-alternative" formControlName="identificacion"  >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-tel">Telefono</label>
                    <input type="number" id="input-tel"  name="ci" class="form-control form-control-alternative" formControlName="telefono"  maxlength="10">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-ingreso">Fecha Ingreso</label>
                    <div class="input-group">
                      <input class="form-control" id="input-ingreso" placeholder="yyyy-mm-dd"
                             name="dp" formControlName="fchIngreso" ngbDatepicker (click)="d.toggle()"  #d="ngbDatepicker">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-sal">Saldo</label>
                    <input type="number" id="input-sal"  name="ci" class="form-control form-control-alternative" formControlName="saldo"  >
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-success" [disabled]="!vendedorFrom.valid" (click)="onSave()">Guardar</button>
              <button type="submit" class="btn btn-outline-danger" routerLink="/vendedores">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page content -->



