<div class="header bg-gradient-danger py-7 py-lg-8">

  <div class="container mt--10 ">
    <!-- Table -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Crear cliente</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate [formGroup]="cobradorFrom" >
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Nombre</label>
                    <input type="email" id="input-email" name="na" class="form-control form-control-alternative" formControlName="nombre" placeholder="nombre">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-precio">Cedula</label>
                    <input type="text" id="input-precio" name="pr" class="form-control form-control-alternative" formControlName="cedula" placeholder="cedula" >
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-inicial">Telefono</label>
                    <input type="number" id="input-inicial"  name="ci" class="form-control form-control-alternative" formControlName="telefono"  >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-saldo">Saldo</label>
                    <input type="number" id="input-saldo"  name="sa" class="form-control form-control-alternative" formControlName="saldo"  >
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div>
                    <label for="rutas">Selecciona una ruta</label>
                    <select id="rutas" class="browser-default custom-select" formControlName="rutas">
                      <option value=""  selected>Seleciona una ruta</option>
                      <option *ngFor="let ruta of rutas" value="{{ ruta.id }}">{{ ruta.ciudad }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-success" [disabled]="!cobradorFrom.valid" (click)="onSave()">Guardar</button>
              <button type="submit" class="btn btn-outline-danger" routerLink="/rutas">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page content -->

